form {
    text-align: left;
}

form label,
label input, 
label select {
    display: block;
    text-align: left;
    font-weight: 400;
    font-size: 20px;

    }

label input,
label select {
    width: 100%;
    padding: 20px;
    margin-top:  10px;
    
    }

form label {
    margin-top: 20px;
    }

form button {
    margin-top: 20px;
    }